@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

body {
  background-color: #87ceeb;
  font-family: "Courier Prime", monospace;
}

/* NAV STUFF */
.main-nav {
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #000;
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  padding-left: 2rem;
}

.nav-items {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 1.4rem;
  margin-bottom: 0;
  padding-top: 1rem;
}

.main-nav-login,
.main-nav-login:visited {
  background-color: #ffdb58;
  border-left: 2px solid #000;
  color: #000;
  height: 100%;
  padding: 1rem 3rem;
  text-decoration: none;
}

.main-nav-login:hover,
.main-nav-login:active {
  background-color: #9723c9;
  color: #fff;
}

.right-items {
  display: flex;
  gap: 3rem;
}

.list-item a,
.list-item a:visited {
  color: #000;
  text-decoration: none;
}

.list-item a:hover,
.list-item a:active {
  color: #9723c9;
}

/* HERO SECTION */
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
}

.container {
  background-color: #87ceeb;
  height: 93vh;
}

.img-box {
  font-size: 1.6rem;
  max-width: 350px;
  text-align: left;
}

.left,
.right {
  padding-top: 8rem;
}

.right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-img {
  border: 2px solid black;
}

.img-text {
  background-color: #fff;
  border: 2px solid black;
  border-top: 0px;
  font-size: 1.2rem;
  padding: 1rem;
}

.buttons {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}
.butn {
  font-size: 1.2rem;
  padding: 1.6rem 0.8rem;
  text-decoration: none;
}

.login,
.login:visited {
  background-color: #000;
  color: #fff;
}

.login:hover,
.login:active {
  background-color: #7fbc8c;
  color: #000;
}

.discover,
.discover:visited {
  background-color: #fff;
  color: #000;
}

.discover:hover,
.discover:active {
  background-color: #ffdb58;
}

/* !!!!!!!!!!!!!!!!!!!!!! BREAKS AT WIDTH 1200PX !!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* STYLING TOP SONGS */
.top-song {
  align-items: center;
  border: solid 2px black;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.top-song-text {
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

.data-section-heading {
  margin: 1rem 0rem;
}

.top-artists {
  align-items: center;
}

.songs-of-month {
  background-color: #ffa07a;
}

.songs-container {
  padding-top: 3rem;
}

.month-summary {
  margin-bottom: 3rem;
}

/* SECOND SECTION --- GENRE STUFF */

.top-genre {
  align-items: center;
  background-color: #e3dff2;
  border: 2px solid #c4a1ff;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.genres {
  background-color: #87ceeb;
  padding-bottom: 3rem;
}

.genre-span {
  color: #ff6b6b;
}

.genre-heading {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.genre-text {
  font-size: 1.6rem;
}

.genres-container {
  text-align: center;
  padding-top: 3rem;
}

/* ARTISTS STUFF */

.artists,
.artists-container {
  background-color: #90ee90;
}

.artists-container {
  padding-top: 3rem;
  text-align: right;
}

.user-text {
  color: #9723c9;
}

/* POPULARITY STUFF */
.popularity {
  padding-top: 3rem;
}
