{% extends "layout.html" %}
{% block title %} Home {% endblock %}

{% block main %}
<main>
  <section class="container align-content-center">
    <div class="row ">
      <div class="left col-5">
        <h1 class="main-heading">Get Wrapped Up Every Month</h1>
        <h3>A New website to view your spotify stats like never before.</h3>
        <div class="buttons">
          <a class="butn login"  href="/login">Login with Spotify</a>
          <a class= "butn discover" href="/login">Discover More</a>
        </div>

      </div>
      <div class="right col-7">
        <div class="img-box">
          <img src="../static/data-vis.jpg" alt="" class="data-img" width="350px" >
          <h3 class="img-text">Get the stunning visualisations your music taste deserves</h3>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}



<!-- PROFILE STUFF -->
<!-- <div class="dropdown">
  <a
    href="#"
    class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
    id="dropdownUser1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="https://github.com/mdo.png"
      alt=""
      width="32"
      height="32"
      class="rounded-circle me-2"
    />
    <strong>mdo</strong>
  </a>
  <ul
    class="dropdown-menu dropdown-menu-dark text-small shadow"
    aria-labelledby="dropdownUser1"
  >
    <li><a class="dropdown-item" href="#">New project...</a></li>
    <li><a class="dropdown-item" href="#">Settings</a></li>
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Sign out</a></li>
  </ul>

