<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SW50 - Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <header>
      <nav class="main-nav">
        <a href="/" class="text-decoration-none">
          <img src="../static/Letter S.png" alt="" width="50px" height="50px">
          <img src="../static/Letter W.png" alt=""  width="50px" height="50px">
          <img src="../static/Number 5.png" alt=""  width="50px" height="50px">
          <img src="../static/Number 0.png" alt=""  width="50px" height="50px">
        </a>

        <div class="right-items">
          <div class="nav-items-container">
            <ul class="nav-items">
              <li class="list-item"><a href="#">Features</a></li>
              <li class="list-item"><a href="#">The Developer</a></li>
              <li class="list-item"><a href="#">Get Started</a></li>
            </ul>
          </div>
          <a class="main-nav-login"  href="/login">Login</a>
        </div>

      </nav> 
    </header>

    <main>
      <section class="container align-content-center">
        <div class="row ">
          <div class="left col-5">
            <h1 class="main-heading">Get Wrapped Up Every Month</h1>
            <h3>A New website to view your spotify stats like never before.</h3>
            <div class="buttons">
              <a class="butn login"  href="/login">Login with Spotify</a>
              <a class= "butn discover" href="/login">Discover More</a>
            </div>

          </div>
          <div class="right col-7">
            <div class="img-box">
              <img src="../static/data-vis.jpg" alt="" class="data-img" width="350px" >
              <h3 class="img-text">Get the stunning visualisations your music taste deserves</h3>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- PROFILE STUFF -->
<!-- <div class="dropdown">
  <a
    href="#"
    class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
    id="dropdownUser1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="https://github.com/mdo.png"
      alt=""
      width="32"
      height="32"
      class="rounded-circle me-2"
    />
    <strong>mdo</strong>
  </a>
  <ul
    class="dropdown-menu dropdown-menu-dark text-small shadow"
    aria-labelledby="dropdownUser1"
  >
    <li><a class="dropdown-item" href="#">New project...</a></li>
    <li><a class="dropdown-item" href="#">Settings</a></li>
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Sign out</a></li>
  </ul>

